---
import { Image } from 'astro:assets';

interface Props {
  name: string,
  img: string,
  imgAlt: string,
  href: string,
}
const { name, img, imgAlt, href, } = Astro.props as Props;
---

<div class="w-fit mx-auto md:w-full md:mx-auto flex flex-col md:flex-row gap-y-5 gap-x-10">

  <div class="max-w-lg py-3">
    <h2 class="text-3xl font-semibold leading-snug text-center">
      <a href={href} class="text-blue-500 hover:text-blue-600 hover:underline">{name}</a>
    </h2>

    <div class="text-center border-t border-gray-200 pt-5 mt-5 text-sm text-gray-800 max-w-md">
      <slot />
    </div>
  </div>

  <a class="mx-auto block w-fit" href={href}>
    <Image src={img} alt={imgAlt} loading="eager" class="object-cover md:h-64 lg:h-80 max-w-lg rounded-lg" width="600" />
  </a>

</div>

