---
import { Image } from 'astro:assets';
import BaseLayout from "@/layouts/BaseLayout.astro";
import SimpleImagePanel from '@/components/SimpleImagePanel.astro'
import BentoCard from '@/components/BentoCard.astro'
import BentoWrapper from '@/components/BentoWrapper.astro'

const title = "MiniOffice"
const description = "A small office built in a decomissioned detached hallway bathroom."

import newCableImg from '@/assets/img/minioffice/new-cable.jpg'
import originalImg from '@/assets/img/minioffice/original.jpg'

import oldWoodJunctionImg from '@/assets/img/minioffice/old-wood-junction.jpg'
import newJunctionImg from '@/assets/img/minioffice/new-junction.jpg'

import originalLightImg from '@/assets/img/minioffice/original-light.jpg'
import newLightImg from '@/assets/img/minioffice/new-light-lit.jpg'

import switchJunctionNewImg from '@/assets/img/minioffice/switch-junction-gipsed.jpg'
import switchJunctionHoleImg from '@/assets/img/minioffice/switch-junction-hole.jpg'
import switchJunctionFlushImg from '@/assets/img/minioffice/switch-junction-flush.jpg'

import conduitChaseImg from '@/assets/img/minioffice/conduit-chase.jpg'
import conduitInstallingImg from '@/assets/img/minioffice/conduit-installing.jpg'
import conduitInstalledImg from '@/assets/img/minioffice/conduit-installed.jpg'

import timbersSandedImg from '@/assets/img/minioffice/timbers-sanded.jpg'

import timbersStartImg from '@/assets/img/minioffice/timbers-start.jpg'
import timbersScrapedImg from '@/assets/img/minioffice/timbers-scraped.jpg'
import timbersSandedLandscapeImg from '@/assets/img/minioffice/timbers-sanded-landscape.jpg'

import timbersToolsImg from '@/assets/img/minioffice/timbers-tools.jpg'
import timbersEliImg from '@/assets/img/minioffice/timbers-eli.jpg'

---

<BaseLayout title={title} description={description}>
  <h1 class="text-5xl">MiniOffice</h1>

  <div class="mt-12">
    <SimpleImagePanel
      reverse={true}
      img={originalImg}
      imgAlt="The soon-to-be office room just before beginning the project"
      imgCaption="The soon-to-be office room just before beginning the project"
      imgClasses="h-96 w-full max-w-xs mx-auto border border-gray-300"
    >
      <p class="max-w-xl">
        <strong class="font-bold">Summary:</strong>
        This page documents building a small detached office in a former hallway bathroom in our family's Ljubljana apartment.
      </p>

      <p class="mt-3">
        The office is located just across the hallway from the apartment; the basic form factor is a 2 m x 1 m rectangle (read: <span class="italic">small!</span>).

        The project involved running new electrical cable, installing outlets, refinished the walls, installing a light fixture, and sanding and refinishing the structural timbers, which were previously hidden behind a plaster coating.
      </p>

    </SimpleImagePanel>
  </div>

  <h2 class="mt-16 text-4xl text-left">Electrical</h2>

  <div class="mt-8">
    <SimpleImagePanel
      reverse={true}
      img={conduitInstallingImg}
      imgAlt="A freshly cut/excavated chase and conduit to supply outlets for a computer."
      imgCaption="A freshly cut/excavated chase and conduit to supply outlets for a computer."
      imgClasses="h-64 w-full max-w-md mx-auto md:h-80 object-top"
      captionClasses="max-w-sm"
    >
      <p>
        <span class="font-bold">Initial status:</span> When beginning the project, the room was supplied with a hot and a neutral line that powered a bare lightbulb hanging above the door.
        There were no outlets, and also no ground wire—the existing wiring predated current building practice where ground wires are run as a matter of course.
      </p>

      <p class="mt-3 font-bold">
        Summary of improvements:
      </p>
      <ul class="list-disc ml-5">
        <li>Replacing the existing hot and neutral wires in the office with modern 3-wire VDE cable (that includes a ground wire!)</li>
        <li>Installing outlets</li>
        <li>Cutting chases in the masonry wall and run conduit and cable for outlets</li>
        <li>Installing junction boxes</li>
        <li>Installing a proper light fixture to replace the bare dangling bulb</li>
        </li>
      </ul>

    </SimpleImagePanel>
  </div>

  <div class="mt-3">
    <h3 class="text-2xl">Electrical: Details</h3>
    <p class="mt-2">
      The existing wiring supplying the office ran from the main panel in my apartment through conduit in the hallway to a hallway junction box just outside the office, then through the hallway-office wall into the office.
      By a great stroke of luck, a 3-wire cable of wire of sufficient gauge happened to run continuously from the main panel in my apartment to this hallway junction box outside the office.
      Only the hot and neutral wires were connected in my main panel, but it was a simple matter of hooking up the ground wire to the ground busbar in my main panel, and <span class="italic">voilà!</span>, there was the for the office.
    </p>

    <p class="mt-2">
      By another stroke of luck, the connection between the hallway junction box and office was made with conduit (in old masonry buildings in Slovenia you'll sometimes find wires built directly into the brick wall), so replacing cable was a simple matter of pulling old wires out while running new cable in (no need to drill a chase through the hallway-office wall).
    </p>

    <p class="mt-2">
      With a solid ground, neutral, and hot wire running between the office and my main panel; I could then begin electrical work in the office itself.
      This involved:
    </p>

    <ul class="ml-5 list-disc">
      <li>
        Replacing all existing wiring in the office with modern 1.5 mm2 VDE cable.
      </li>
      <li>
        Replacing the, erm, makeshift <span class="italic">wooden</span> junction box hewn out of a scrap piece of construction lumber that held the main light/switch junction with a modern fire-retardant high-impact polystyrene junction box.
      </li>
      <li>
        Installing a proper wall-mounted light fixture to replace the lightbulb dangling from the wall by its supply wires.
      </li>
      <li>
        Cutting chases into the masonry wall for new conduit and junction/fixture boxes.
        This was unpleasant because of a constant worry of bothering the neighbors (cutting/drilling into masonry, whether with an angle grinder or rotary hammer drill, is <span class="italic">loud</span>).
      </li>
      <li>
        Installing conduit and cable for outlets, and of course installing the outlets themselves.
      </li>
    </ul>
  </div>

  <h3 class="mt-5 text-2xl">Electrical: Gallery</h3>

  <div class="mt-6">
    <BentoWrapper>

      <!-- Wood junction before/after -->
      <BentoCard classes="lg:col-span-3" title='Old wooden "junction box"...' imgSrc={oldWoodJunctionImg.src} imgAlt="The hewn-out scrap piece of construction lumber originally serving as the room's junction box.">
        The original supply wires for the room were routed through this hewn-out piece of scrap construction lumber. This was replaced with the modern molded plastic box at right.
        Note the very much welcome(!!) existing sub-surface conduit (the black tube continuing to the right)—this supplies the light switch and saved me from cutting a new chase in the masonry wall.
      </BentoCard>
      <BentoCard classes="lg:col-span-3" title="...and its modern replacement" imgSrc={newJunctionImg.src} imgAlt="The fire-retardant high-impact polystyrene junction box replacing the original makeshift wooden box.">
        The room's new main junction box, now made of more appropriate molded fire-retardant high-impact polystyrene.
        The main supply enters through the wall, then continues to the right through sub-surface conduit to the light switch and new outlets.
        The two masonry anchors will hold screws for a light fixture.
      </BentoCard>

      <!-- Light before/after -->
      <BentoCard classes="lg:col-span-3" title="Original bare lightbulb..." imgSrc={originalLightImg.src} imgAlt="The original bare lightbulb, seen dangling from the wall by its supply wires.">
        The original bare lightbulb, seen dangling from the wall by its supply wires.
        If you look closely you'll see that electrical connectors are exposed about halfway along the exposed portion of the wires; you can also recognize the wooden junction box from the previous row of pictures.
      </BentoCard>
      <BentoCard classes="lg:col-span-3" title="...and its new replacement" imgSrc={newLightImg.src} imgAlt="The new wall-mounted light fixture replacing the original bare lightbulb.">
        The new wall-mounted light fixture replacing the original bare lightbulb.
        It is mounted over the new junction box shown above.
        Fun story: this is a repurposed light fixture from our old family home in Ljubljana, which we took with us after moving out but didn't find a place for in our new home.
      </BentoCard>

      <!-- Light switch electrical before/after -->
      <BentoCard classes="lg:col-span-2" title="Hewn-out cavity for a new electrical box" imgSrc={switchJunctionHoleImg.src} imgAlt="The rectangular cavity hewn out of the masonry wall to hold a new electrical box.">
        This hole will hold a new electrical box with the room's light switch and an outlet.
        I used an angle grinder and hammer drill to cut the hole in the masonry wall.
      </BentoCard>
      <BentoCard classes="sm:hidden lg:block lg:col-span-2" title="Checking new box is flush..." imgSrc={switchJunctionFlushImg.src} imgAlt="Using a straight-edge to ensure the face of the new box is flush with the plane of the existing wall.">
        Here I am using a straight-edge to ensure the face of the new box is flush with the plane of the existing wall. The surrounding gaps are then filled with a gypsum-based plaster.
      </BentoCard>
      <BentoCard classes="lg:col-span-2" title="The new electrical box" imgSrc={switchJunctionNewImg.src} imgAlt="Foo image">
        The "rough-in" installation of the new electrical box—the box is installed with a gypsum-based plaster (<span class="italic">gips</span> in colloquial Slovene).
        This will hold a light switch and outlet.
      </BentoCard>

      <!-- Computer outlet conduit -->
      <BentoCard classes="lg:col-span-2" title="Cutting a new chase" imgSrc={conduitChaseImg.src} imgAlt="A new chase cut into the masonry wall to hold conduit and cable for a second outlet.">
        A new chase cut into the masonry wall with an angle grinder to hold conduit and cable for a second electrical box, which will hold an outlet supplying the computer desk.
      </BentoCard>
      <BentoCard classes="sm:hidden lg:block lg:col-span-2" title="Installing new conduit" imgSrc={conduitInstallingImg.src} imgAlt="New conduit to hold the cable supplying the computer desk outlet.">
        New conduit to hold the cable supplying the computer desk outlet.
        You can see the outlet's box already installed flush with the wall on the right.
      </BentoCard>
      <BentoCard classes="lg:col-span-2" title="Conduit installed!" imgSrc={conduitInstalledImg.src} imgAlt="The installed new conduit, with the chase filled in with plaster.">
        The installed conduit, with the chase filled in with the same fast-setting gypsum-based plaster used to install the junction boxes.
        I painted this over provisionally with a lime-based whitewash, but would later repaint the whole room in a warmer color.
      </BentoCard>

    </BentoWrapper>
  </div>

  <h2 class="mt-16 text-4xl text-left">Refinishing timber framing</h2>

  <div class="mt-8">
    <SimpleImagePanel
      reverse={true}
      img={timbersSandedImg}
      imgAlt="Re-exposed structural timbers after removing the original plaster coating."
      imgCaption="Re-exposed structural timbers after removing the original plaster coating."
      imgClasses="h-96 w-full max-w-xs mx-auto border border-gray-300"
    >
      <p>
        <span class="font-bold">Background:</span> 
        My building is masonry, but the roof is timber-framed.
        I happen to live on the top floor (i.e. under the timber-framed roof), and some of the structural timber framing supporting the roof happens to run through the office room. Unfortunately (at least if you ask me) this timber framing was covered with a plaster coating, concealing the beauty of the underlying wood!
        I am a sucker for timber framing, so I decided to expose and refinish the structural timbers.
        Here is the process:
      </p>

      <p class="mt-4 font-bold">Process</p>
      <ul class="list-disc ml-5">
        <li>Roughly scraping the plaster off the timbers with a thick-bladed 5-in-1-style putty knife.</li>
        <li>Grinding off lingering plaster bits with a flap disk attachment on an angle grinder.</li>
        <li>Sanding down the timbers with a random orbital sander.</li>
        <li>Refinishing the timbers with <span class="">TODO: TBD</span></li>
      </ul>

    </SimpleImagePanel>
  </div>

  <div class="mt-10">
    <h3 class="text-xl">Aside: worrying about bothering the neighbors</h3>
    <p class="mt-2 max-w-2xl">
      Like cutting electrical chases into the masonry wall, this step was unpleasant/icky for all the noise it generated and the dust it raised.
      I personally don't mind the dust and noise—modern PPE protects you quite well—and was much more worried about bothering the neighbors!
      Angle grinders are <span class="italic">loud</span>, and the old interior door provides only token acoustic insulation, so the noise would ring out into the hallway and echo through the building.
      I did my best to work only in short shifts to avoid prolonged construction noise, and only at sane hours of the day. Thankfully no one complained.
    </p>
  </div>


  <h3 class="mt-8 text-2xl">Timber refinishing: Gallery</h3>

  <div class="mt-6">
    <BentoWrapper>

      <!-- Process from raw to scraped to sanded -->
      <BentoCard classes="lg:col-span-2" title="Timbers covered in plaster" imgSrc={timbersStartImg.src} imgAlt="The first pieces of plaster coating removed from the timber framing.">
        The timber framing was originally covered in a plaster coating, which I removed to expose the underlying wood. In this picture I've just started to remove plaster where the brace meets the post.
      </BentoCard>
      <BentoCard classes="sm:hidden lg:block lg:col-span-2" title="First pass complete..." imgSrc={timbersScrapedImg.src} imgAlt="The timbers after scraping off the bulk of the coating.">
        I first roughly scraped off the plaster coating with thick-bladed putty knife. I then made two more passes to remove the remaining plaster—first with an angle grinder with a flap disk attachment, then with a random-orbit sander.
      </BentoCard>
      <BentoCard classes="lg:col-span-2" title="Sanding complete!" imgSrc={timbersSandedLandscapeImg.src} imgAlt="The timbers after grinding off the remaining plaster, then sanding with a random orbit sander.">
        This picture shows the timbers after grinding off the remaining plaster, then sanding with a random orbit sander. I would later fill the gaps between the timbers and walls with plaster.
      </BentoCard>

      <!-- Tools/Eli/Dust -->
      <BentoCard classes="lg:col-span-3" title="Tools" imgSrc={timbersToolsImg.src} imgAlt="Angle grinder and PPE layed on the floor.">
        I did the bulk of the timber refinishing with an angle grinder and flap disk attachment, which did a good job of quickly removing large amounts of combined plaster-wood material.
        I experimented with the spray bottle to cut down on the plaster dust, but adding too much moisture would wet the underlying timbers and choke up the flap disk with wet sawdust.
      </BentoCard>
      <BentoCard classes="lg:col-span-3" title="Dust, dust dust!" imgClasses="max-w-md rounded-b" imgSrc={timbersEliImg.src} imgAlt="The fire-retardant high-impact polystyrene junction box replacing the original makeshift wooden box.">
        Grinding the lingering plaster off the wooden beams kicked up a lot of dust in a small enclosed space.
        Thankfully there was a small window for ventilation, but it still got pretty rough in there—the respirator proved invaluable.
        You can vaguely see a bit of the haze in the picture.
      </BentoCard>

    </BentoWrapper>
  </div>


</BaseLayout>
